@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <div>
        <partial name="_Carousel" model="@ViewData["Carousel"]" />
        <partial name="_BookList" model="@ViewData["Books"]" />
    </div>
</div>
