<div class="d-flex flex-row">
    <div class="col-4">
        <img src="~/images/default-book.png" class="d-block" style="height: 200px;" />
    </div>
    <div class="col-8">
        <p>Toán 6</p>
        <p><strong>Chuyên Mục: </strong> aaaa</p>
        <p><strong>Tác Giả: </strong> aaaa</p>
        <p><strong>Nhà Xuất Bản: </strong> aaaa</p>
        <p><strong>Xuất Bản Năm: </strong> aaaa</p>
        <p><strong>Giới Thiệu: </strong> aaaa</p>
        <button>Đọc Sách Offline</button>
    </div>
</div>
